doctype html
include /../../static/assets/lib/ldui/pug/ldui.pug
html
  head
    link(href="https://fonts.googleapis.com/css?family=Oxygen:300,700|Roboto:300,500,700|BenchNine|Varela+Round&display=swap", rel="stylesheet")
    +css("https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
    +css("assets/lib/ldui/ldui.min.css")
    style(type="text/css"): :stylus
      body { font-size: 18px }
      ul, ol, dl { padding-left: 1.5em }
  body
    .p-4.m-4.w-1024.rwd.mx-auto.typeset.heading-contrast
      h1 Web Design Resources
      p.text-muted link to this page: #[a(href="http://bit.ly/32UoAra") http://bit.ly/32UoAra]
      hr
      h2 Tools
      ul
        li #[a(href="https://makeweb.io") MakeWeb] - https://makeweb.io
        li #[a(href="https://codepen.io") CodePen] - https://codepen.io
        li #[a(href="https://pughtml.com/") PugHTML] - https://pughtml.com/
      h2 Library
      ul
        li #[a(href="https://getbootstrap.com") Bootstrap] - https://getbootstrap.com
        li #[a(href="https://github.com/loadingio/loading.css") loading.css] - https://cdn.jsdelivr.net/gh/loadingio/loading.css@v2.0.0/dist/loading.min.css
        li #[a(href="https://github.com/loadingio/transition.css") transition.css] - https://cdn.jsdelivr.net/gh/loadingio/transition.css@v2.0.0/dist/transition.min.css
        li #[a(href="https://github.com/thednp/bootstrap.native") Bootstrap Native] - https://cdnjs.cloudflare.com/ajax/libs/bootstrap.native/2.0.27/bootstrap-native-v4.min.js



    +script("https://cdnjs.cloudflare.com/ajax/libs/bootstrap.native/2.0.27/bootstrap-native-v4.min.js")
    +script("assets/lib/ldui/ldui.min.js")
    +script("js/index.js")

